In [33]:
!pip install pandas_datareader
!pip install matplotlib
!pip install numpy
!pip install pandas
!pip install stocktrends

Requirement already satisfied: pandas_datareader in /home/johnny/anaconda3/lib/python3.7/site-packages (0.8.1)
Requirement already satisfied: lxml in /home/johnny/anaconda3/lib/python3.7/site-packages (from pandas_datareader) (4.4.1)
Requirement already satisfied: requests>=2.3.0 in /home/johnny/anaconda3/lib/python3.7/site-packages (from pandas_datareader) (2.22.0)
Requirement already satisfied: pandas>=0.21 in /home/johnny/anaconda3/lib/python3.7/site-packages (from pandas_datareader) (0.25.1)
Requirement already satisfied: certifi>=2017.4.17 in /home/johnny/anaconda3/lib/python3.7/site-packages (from requests>=2.3.0->pandas_datareader) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in /home/johnny/anaconda3/lib/python3.7/site-packages (from requests>=2.3.0->pandas_datareader) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/johnny/anaconda3/lib/python3.7/site-packages (from requests>=2.3.0->pandas_datareader) (1.24.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/johnny/anaconda3/lib/python3.7/site-packages (from requests>=2.3.0->pandas_datareader) (3.0.4)
Requirement already satisfied: pytz>=2017.2 in /home/johnny/anaconda3/lib/python3.7/site-packages (from pandas>=0.21->pandas_datareader) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/johnny/anaconda3/lib/python3.7/site-packages (from pandas>=0.21->pandas_datareader) (2.8.0)
Requirement already satisfied: numpy>=1.13.3 in /home/johnny/anaconda3/lib/python3.7/site-packages (from pandas>=0.21->pandas_datareader) (1.16.2)
Requirement already satisfied: six>=1.5 in /home/johnny/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.21->pandas_datareader) (1.12.0)
Requirement already satisfied: matplotlib in /home/johnny/anaconda3/lib/python3.7/site-packages (3.1.1)
Requirement already satisfied: cycler>=0.10 in /home/johnny/anaconda3/lib/python3.7/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/johnny/anaconda3/lib/python3.7/site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/johnny/anaconda3/lib/python3.7/site-packages (from matplotlib) (2.4.2)
Requirement already satisfied: python-dateutil>=2.1 in /home/johnny/anaconda3/lib/python3.7/site-packages (from matplotlib) (2.8.0)
Requirement already satisfied: numpy>=1.11 in /home/johnny/anaconda3/lib/python3.7/site-packages (from matplotlib) (1.16.2)
Requirement already satisfied: six in /home/johnny/anaconda3/lib/python3.7/site-packages (from cycler>=0.10->matplotlib) (1.12.0)
Requirement already satisfied: setuptools in /home/johnny/anaconda3/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib) (41.4.0)
Requirement already satisfied: numpy in /home/johnny/anaconda3/lib/python3.7/site-packages (1.16.2)
Requirement already satisfied: pandas in /home/johnny/anaconda3/lib/python3.7/site-packages (0.25.1)
Requirement already satisfied: numpy>=1.13.3 in /home/johnny/anaconda3/lib/python3.7/site-packages (from pandas) (1.16.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/johnny/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /home/johnny/anaconda3/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: six>=1.5 in /home/johnny/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Requirement already satisfied: stocktrends in /home/johnny/anaconda3/lib/python3.7/site-packages (0.1.4)

In [34]:
import pandas_datareader.data as pdr
import datetime
# https://github.com/ChillarAnand/stocktrends
from stocktrends import Renko

In [35]:
# Download historical data for required stocks
ticker = "AAPL"
ohlcv = pdr.get_data_yahoo(ticker,datetime.date.today()-datetime.timedelta(364),datetime.date.today())

In [36]:
df = ohlcv.copy()

In [37]:
ohlcv.shape

(251, 6)

In [38]:
ohlcv.head(4)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-12-20,162.110001,155.300003,160.399994,156.830002,64773000.0,154.508499
2018-12-21,158.160004,149.630005,156.860001,150.729996,95744600.0,148.498795
2018-12-24,151.550003,146.589996,148.149994,146.830002,37169200.0,144.656540
2018-12-26,157.229996,146.720001,148.300003,157.169998,58582500.0,154.843475

In [39]:
ohlcv.tail(4)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-12-13,275.299988,270.929993,271.459991,275.149994,33396900.0,275.149994
2019-12-16,280.790009,276.980011,277.000000,279.859985,32046500.0,279.859985
2019-12-17,281.769989,278.799988,279.570007,280.410004,28539600.0,280.410004
2019-12-18,281.899994,279.119995,279.799988,279.739990,29007100.0,279.739990

In [40]:
def ATR(DF,n):
    "function to calculate True Range and Average True Range"
    df = DF.copy()
    df['H-L']=abs(df['High']-df['Low'])
    df['H-PC']=abs(df['High']-df['Adj Close'].shift(1))
    df['L-PC']=abs(df['Low']-df['Adj Close'].shift(1))
    df['TR']=df[['H-L','H-PC','L-PC']].max(axis=1,skipna=False)
    df['ATR'] = df['TR'].rolling(n).mean()
    df2 = df.drop(['H-L','H-PC','L-PC'],axis=1)
    return df2

In [41]:
def renko_DF(DF):
    "function to convert ohlc data into renko bricks"
    df = DF.copy()
    df.reset_index(inplace=True)
    df = df.iloc[:,[0,1,2,3,5,6]]
    df.rename(columns = {"Date" : "date", "High" : "high","Low" : "low", "Open" : "open","Adj Close" : "close", "Volume" : "volume"}, inplace = True)
    df2 = Renko(df)
    df2.brick_size = round(ATR(DF,120)["ATR"][-1],0)
    renko_df = df2.get_ohlc_data() #if get_bricks() does not work try using get_ohlc_data() instead
    #renko_df = df2.get_ohlc_data()
    return renko_df

In [43]:
renko_df_result = renko_DF(ohlcv)

In [45]:
renko_df_result.tail(60)

         date   open   high    low  close  uptrend
0  2018-12-20  148.0  152.0  148.0  152.0     True
1  2019-01-03  148.0  148.0  144.0  144.0    False
2  2019-01-16  148.0  152.0  148.0  152.0     True
3  2019-01-30  152.0  156.0  152.0  156.0     True
4  2019-01-30  156.0  160.0  156.0  160.0     True
5  2019-02-01  160.0  164.0  160.0  164.0     True
6  2019-02-04  164.0  168.0  164.0  168.0     True
7  2019-02-25  168.0  172.0  168.0  172.0     True
8  2019-03-11  172.0  176.0  172.0  176.0     True
9  2019-03-14  176.0  180.0  176.0  180.0     True
10 2019-03-15  180.0  184.0  180.0  184.0     True
11 2019-03-21  184.0  188.0  184.0  188.0     True
12 2019-03-21  188.0  192.0  188.0  192.0     True
13 2019-04-08  192.0  196.0  192.0  196.0     True
14 2019-04-17  196.0  200.0  196.0  200.0     True
15 2019-04-23  200.0  204.0  200.0  204.0     True
16 2019-05-01  204.0  208.0  204.0  208.0     True
17 2019-05-09  204.0  204.0  200.0  200.0    False
18 2019-05-10  200.0  200.0  196.0  196.0    False
19 2019-05-13  196.0  196.0  192.0  192.0    False
20 2019-05-13  192.0  192.0  188.0  188.0    False
21 2019-05-20  188.0  188.0  184.0  184.0    False
22 2019-05-23  184.0  184.0  180.0  180.0    False
23 2019-05-31  180.0  180.0  176.0  176.0    False
24 2019-06-07  180.0  184.0  180.0  184.0     True
25 2019-06-07  184.0  188.0  184.0  188.0     True
26 2019-06-11  188.0  192.0  188.0  192.0     True
27 2019-06-18  192.0  196.0  192.0  196.0     True
28 2019-07-01  196.0  200.0  196.0  200.0     True
29 2019-07-18  200.0  204.0  200.0  204.0     True
30 2019-07-29  204.0  208.0  204.0  208.0     True
31 2019-08-05  204.0  204.0  200.0  200.0    False
32 2019-08-05  200.0  200.0  196.0  196.0    False
33 2019-08-13  200.0  204.0  200.0  204.0     True
34 2019-08-13  204.0  208.0  204.0  208.0     True
35 2019-08-21  208.0  212.0  208.0  212.0     True
36 2019-08-23  208.0  208.0  204.0  204.0    False
37 2019-09-05  208.0  212.0  208.0  212.0     True
38 2019-09-10  212.0  216.0  212.0  216.0     True
39 2019-09-11  216.0  220.0  216.0  220.0     True
40 2019-10-04  220.0  224.0  220.0  224.0     True
41 2019-10-10  224.0  228.0  224.0  228.0     True
42 2019-10-11  228.0  232.0  228.0  232.0     True
43 2019-10-21  232.0  236.0  232.0  236.0     True
44 2019-10-23  236.0  240.0  236.0  240.0     True
45 2019-10-25  240.0  244.0  240.0  244.0     True
46 2019-10-28  244.0  248.0  244.0  248.0     True
47 2019-11-01  248.0  252.0  248.0  252.0     True
48 2019-11-04  252.0  256.0  252.0  256.0     True
49 2019-11-08  256.0  260.0  256.0  260.0     True
50 2019-11-13  260.0  264.0  260.0  264.0     True
51 2019-12-06  264.0  268.0  264.0  268.0     True
52 2019-12-13  268.0  272.0  268.0  272.0     True
53 2019-12-16  272.0  276.0  272.0  276.0     True
54 2019-12-17  276.0  280.0  276.0  280.0     True